<!--The content below is only a placeholder and can be replaced.-->


<nav>
<ul>
  <li>
    <a routerLink="/listaCliente">Clientes</a>
  </li>
  <li>
      <a routerLink="/novoCliente">Novo Cliente</a>
  </li>
  <li>
      <a routerLink="/listaMesa">Mesas</a>
  </li>
  <li>
      <a routerLink="/novaMesa">Nova Mesa</a>
  </li>
  <li>
      <a routerLink="/listaJogo">Jogos</a>
  </li>
  <li>
      <a routerLink="/novoJogo">Novo Jogo</a>
  </li>
</ul>
  





</nav>
<router-outlet></router-outlet>